/*모달*/
#modal.modal-overlay {
	display: none;
	position: fixed;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px);
    z-index: 1000;
} 
#modal .modal-window {
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    padding-bottom: 30px;
    z-index: 1000;
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: #000;
}

#modal .title span {
    padding-left: 10px;
    display: inline;
    color: #43a051;
}

#modal .close-area {
    display: inline;
    cursor: pointer;
    color: #000;
    position: relative;
    float: right;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: #000;
}

#modal .content table {
    margin-top: 20px;
    padding: 0px 10px;
    color: #000;
    border-top: 2px solid #43a051;
    width: 100%;
}

#modal .content table .center{
    text-align: center;
    width: 150px;
}

#modal .content table td{
    padding: 10px 0;
    border-bottom: 1px solid #f9f9f9;
}

.content textarea{
	resize: none;
	border-color: lightgray;
	height: 90px;
	font-size: 13px;
}

.content textarea:focus{
	box-shadow: none !important; 
	border-color: lightgray;
}

#checkbtn{
	margin-left: 530px;
	display: inline;
}

#checkbtn label{
	margin-right:10px;
	font-size: 14px;
}

#checkbtn input[type="checkbox"]{
	box-shadow: none !important; 
	border-color: lightgray;
}
