#service-container {
	margin: auto;
	width: 1200px;
	margin-top: 50px;
	margin-bottom: 80px;
}

#form-container {
	border-top: 1px solid #000;
    padding-top: 15px;
}

#party-tab-title {
	font-size: 25px;
    margin-bottom: 20px;
}

#registerform {
	font-size: 13px;
}

#registerform select {
	width: 170px;
	display: inline;
	font-size: 13px;
}

#registerform input[name="title"] {
	width: 480px;
	font-size: 13px;
}

#registerform input[name="share_id"], input[name="share_pw"], input[name="phone"], input[name="name"], input[name="id"], input[name="nickname"]
, input[name="email"], input[name="bank_number"], input[name="level"]
{
	width: 240px;
	font-size: 13px;
	display: inline;
}

input[name="with_amount"], input[name="point"]{
	width: 150px;
	font-size: 13px;
	display: inline;
}

#registerform input[name="bank"]{
	width: 100px;
	font-size: 13px;
	display: inline;
}

#registerform input[name="start_date"], input[name="end_date"], input[name="price"]
	{
	width: 200px;
	font-size: 13px;
	display: inline;
}

#priceCheck, #periodCheck {
	font-size: 13px;
	border-radius: 20px;
	margin-left: 10px;
	padding: 2px 9px;
	background-color: #006D77;
    color: white;
    border: 0;
}

#registerform label {
	margin-right: 30px;
}

#registerform textarea {
	resize: none;
	height: 200px;
	font-size: 13px;
}

#periodCheckResult, #totalpriceResult {
	margin-left: 10px;
	color: #006D77;
    font-weight: 600;
}

#registertable th, td {
	padding-bottom: 15px;
}

#registertable th {
	padding-right: 30px;
}

#registertable td{
	padding-right: 70px;
}

#registerBtn {
	text-align: center;
}

#myPartyList, #myPartyRegister, #myPartyModify, #memberModify, #memberList {
	width: 150px;
	height: 50px;
	font-size: 15px;
	color: white;
    border-radius: 5px;
    border: 0px;
}

#myPartyModify, #memberModify {
    background-color: #006D77;
}

#myPartyModify:hover, #memberModify:hover {
    background-color: #FFE05C;
}

#myPartyList, #memberList {
    background-color: #333;
}

#myPartyList:hover, #memberList:hover {
	background-color: #111;
}

#naverDelete, #kakaoDelete{
	font-size: 11px;
	color: white;
    border-radius: 5px;
    border: 0px;
    width: 18px;
    height: 18px;
    background-color: #006D77;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bold;
}
