<<<<<<< Updated upstream
#content-container {
	margin: auto;
=======
#content-container{
	
}

#service-container{
	margin:auto;
>>>>>>> Stashed changes
	width: 1200px;
	margin-top: 50px;
	margin-bottom: 80px;	
}

#category{
	width: 130px;
	display: inline;
	font-size: 13px;
}

#detailSearch{
	width: 130px;
	display: inline;
	font-size: 13px;
}

#search, #reset {
	font-size: 14px;
	border-radius: 10px;
	width: 90px;
	height: 32px;
	background-color: #006D77;
	color: white;
	border: 0;
}

#reset{
	background-color: #333;
}

#withdraw-tab-title{
	font-size: 25px;
    margin-bottom: 20px;
}

<<<<<<< Updated upstream
=======
#withdraw-search select{
	width: 300px;
	display: inline;
	font-size: 13px;
}

#withdraw-search input[type="text"]{
	width: 350px;
	font-size: 13px;
	display: inline;
}

#withdraw-search input[type="button"]{
	font-size: 15px;
	border-radius: 10px;
	width: 120px;
	height: 32px;
	background-color: #43a051;
    color: white;
    border: 0;
}

#withdraw-search input[type="button"]#withDrawal{
	background-color: #258e75;
}

#withdraw-search{
	border-radius: 20px;
	height: 80px;
	border: 1px solid #43a051;
	text-align: center;
	padding-top: 22px;
	margin-bottom: 30px;
}
>>>>>>> Stashed changes

#withdrawlist{
	margin-top: 30px;
	border-top: 1px solid #333333;
    border-bottom: 1px solid #ececec;
}

#withdrawlist table{
	text-align: center;
	width: 100%;
}

#withdrawlist table th{
	padding: 18px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-color: #f9f9f9;
}

#withdrawlist table td{
	padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 16px;
    border-top: 1px solid #ececec;
}

#partymodify, #partydelete{
	font-size: 13px;
}

/* 승인 할 때 버튼 */

#approval{
	font-size: 12px;
	color: white;
    border-radius: 5px;
    border: 0px;
    width: 35px;
    height: 25px;
    background-color: green;
}

#companion{
	font-size: 12px;
	color: white;
    border-radius: 5px;
    border: 0px;
    width: 35px;
    height: 25px;
    background-color: red;
}

/* 페이징 */
.page-nation li{
	list-style: none;
}

.page-wrap{
	text-align: center;
	font-size: 0;
}
.page-nation {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.page-nation a{
	display: block;
	margin: 0 3px;
	flex: left;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	font-size: 13px;
	color: black;
	text-decoration: none;
}
.page-nation a.active{
	background-color: #006D77;
	color: #fff;
}
.page-nation a:hover{
	background-color: #006D77;
	color: #fff;
} 

/* 출금상태 글 색변경 */
.word-color1 {
	color: blue;
}

.word-color2 {
	color: green;
}

.word-color3 {
	color: red;
}


