/* 화면 전체 렙 */
.wrapper {
	width: 1000px;
}
/* 페이지 제목 */
.subjecet {
	width: 100%;
	height: 120px;
	background-color: #8EC0E4;
}

.subjecet span {
	margin-left: 31px;
	font-size: 80px;
	font-weight: 900;
	color: white;
}

/* 아이디 영역 */
.id_wrap {
	width: 100%;
	margin-top: 20px;
}

.id_name {
	font-size: 25px;
	font-weight: bold;
}

.id_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.id_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 휴대폰 영역 */
.phone_wrap {
	width: 100%;
	margin-top: 20px;
}

.phone_name {
	font-size: 25px;
	font-weight: bold;
}

.phone_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
	width: 61%;
	float: left;
}

.phone_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

.phone_check_wrap {
	margin-top: 20px;
}

.phone_check_button {
	border: 1px solid black;
	height: 51px;
	width: 30%;
	float: right;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: 900;
	background-color: #ececf7;
	cursor: pointer;
}
/* 메일 영역 */
.email_wrap {
	width: 100%;
	margin-top: 20px;
}

.email_name {
	font-size: 25px;
	font-weight: bold;
}

.email_input_box {
	border: 1px solid black;
	height: 31px;
	padding: 10px 14px;
}

.email_input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 28px;
}

/* 가입하기 버튼 */
.join_button_wrap {
	margin-top: 40px;
	text-align: center;
}

.join_button {
	width: 100%;
	height: 80px;
	background-color: #6AAFE6;
	font-size: 40px;
	font-weight: 900;
	color: white;
}

.mg-top-minus {
	margin-top: -50px !important;
}

.mw-800 {
	max-width: 800px;
	margin: 0 auto;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.h3 {
	position: relative;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 500;
	color: #333333;
}

.title-point {
	color: #43a051;
}

.form-round {
	position: relative;
	padding: 25px 40px;
	border: solid 1px #ade2b7;
	border-radius: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.form-list li {
	position: relative;
	min-height: 42px;
	padding: 5px 0 2px 155px;
	font-size: 19px;
	color: #333333;
}

.form-list li:first-child {
	padding: 0 0 2px 155px;
}

.form-list .subject {
	position: absolute;
	top: 10;
	left: 0;
	display: inline-block;
	width: 160px;
	padding: 0 0;
}


.form-list input[type='text'], .form-list input[type='password'] {
	width: 230px;
	height: 40px;
	margin-right: 10px;
	vertical-align: middle;
	padding: 0 15px;
	font-size: 14px;
	color: #333;
	border: solid 1px #dddddd;
	background-color: white;
	outline: none;
}

.form-list .inline-break {
	display: block;
	margin: 6px 0 6px 0;
}

.button-align.center {
	text-align: center;
}

.button-align .button {
	vertical-align: top;
}

.button:link, .button:visited {
	color: white;
	text-decoration: none;
}

.button.button-point {
	background-color: #43a051;
	cursor: pointer;
}

.button.button-point:hover {
	background-color: #FFE05C;
}

.button-align {
	position: relative;
	min-height: 53px;
	margin-top: 60px;
}

.button {
	position: relative;
	display: inline-block;
	min-width: 240px;
	height: 70px;
	margin: 1px 0;
	padding: 0 10px;
	font-size: 18px;
	color: white;
	text-align: center;
	line-height: 68px;
	border: 0;
	border-radius: 5px;
	background-color: #cecdd4;
	overflow: hidden;
	cursor: pointer;
}

.form-list .button {
	vertical-align: middle;
}

.button.round {
	min-width: auto;
	padding: 0 16px;
	height: 32px;
	font-size: 14px;
	line-height: 30px;
	border-radius: 17px;
}

.button.button-purple {
	background-color: #43a051;;
}
