.title-div {
	border-bottom: 2px solid #43a051;
}

.title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333333;
    line-height: 32px;
    font-weight: bold;
}

.sub-title {
	margin-top: 56px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

table {
	border-spacing: 0;
    border-collapse: collapse;
}

.list-member {
	border-top: 1px solid #333333;
    border-bottom: 1px solid #ececec;
}

.list-member table {
	width: 100%;
}

.list-member table th, .list-member table td {
	text-align: center;
}

.list-member table th {
	padding: 19px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-color: #f9f9f9;
}

.list-member table td {
	padding: 28px 0 27px;
	font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 16px;
    border-top: 1px solid #ececec;
}

.list-member table td strong {
	font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
}

.list-member table .title-td {
	padding-left: 50px;
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    text-align: left;
    line-height: 18px;
}

.list-member table .sub-title {
	font-size: 13px;
    color: #aaaaaa;
}

.form-half {
	display: inline-block;
    width: calc(50% - 22px);
    vertical-align: top;
}

.form-half.left {
	margin-right: 40px;
}

.form-list {
	border-top: 1px solid #333333;
}

.form-list li {
	font-size: 14px;
    color: #333333;
    border-top: 1px solid #ececec;
    position: relative;
}

.form-list li .subject {
	width: 120px;
    padding:  18px 0;
    text-indent: -5px;
    display: inline-block;
}

.form-list li .right {
	position: absolute;
    top: 0;
    right: 0;
	width: calc(100% - 88px);
    padding: 18px 0;
    text-align: right;
    font-size: 16px;
}

.form-list li .right.fill {
	padding: 12px 0;
}

.form-list input[type='text'], .form-list input[type='number']{
	width: 180px;
	height: 32px;
    margin-right: 0;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: solid 1px #dddddd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.form-list .text-point {
	color: #43a051 !important;
}

.form-list .point {
	width: 86px !important;
    margin: 0 2px 0 12px;
}

.form-list .point-btn {
	width: 70px;
    min-width: 50px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    background-color: #43a051;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.form-list .total {
	position: relative;
    padding: 0 20px !important;
    border: 1px solid #43a051 !important;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.form-list .total .right {
	right: 15px;
}

.form-list .total .right .total-price {
	font-size: 24px;
    font-weight: 700;
    line-height: 0;
    vertical-align: -2px;
    color: #43a051;
}
.mypoint-list {
	border-top: 0;
}

/* 페이징 */
.page-nation li{
	list-style: none;
}

.page-wrap{
	text-align: center;
	font-size: 0;
}
.page-nation {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.page-nation a{
	display: block;
	margin: 0 3px;
	flex: left;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	font-size: 13px;
	color: black;
	text-decoration: none;
}
.page-nation a.active{
	background-color: #43a051;
	color: #fff;
}
.page-nation a:hover{
	background-color: #43a051;
	color: #fff;
}


