.title-div {
	border-bottom: 2px solid #43a051;
}

.title {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333333;
    line-height: 32px;
    font-weight: bold;
}

.sub-title {
	margin-top: 56px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

table {
	border-spacing: 0;
    border-collapse: collapse;
}

.list-payment {
	border-top: 1px solid #333333;
    border-bottom: 1px solid #ececec;
}

.list-payment table {
	width: 100%;
}

.list-payment table th, .list-payment table td {
	text-align: center;
}

.list-payment table th {
	padding: 19px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background-color: #f9f9f9;
}

.list-payment table td {
	padding: 28px 0 27px;
	font-size: 14px;
    font-weight: 500;
    color: #333;
    line-height: 16px;
    border-top: 1px solid #ececec;
}

.list-payment table td strong {
	font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
}

.list-payment table .title-td {
	padding-left: 50px;
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    text-align: left;
    line-height: 18px;
}

.list-payment table .sub-title {
	font-size: 13px;
    color: #aaaaaa;
}

.form-half {
	display: inline-block;
    width: calc(50% - 22px);
    vertical-align: top;
}

.form-half.left {
	margin-right: 40px;
}

.form-list {
	border-top: 1px solid #333333;
}

.form-list li {
	font-size: 14px;
    color: #333333;
    border-top: 1px solid #ececec;
    position: relative;
}

.form-list li .subject {
	width: 120px;
    padding:  18px 0;
    text-indent: -5px;
    display: inline-block;
}

.form-list li .right {
	position: absolute;
    top: 0;
    right: 0;
	width: calc(100% - 88px);
    padding: 18px 0;
    text-align: right;
    font-size: 16px;
}

.form-list li .right.fill {
	padding: 12px 0;
}

.form-list input[type='text'], .form-list input[type='number']{
	width: 180px;
	height: 32px;
    margin-right: 0;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: solid 1px #dddddd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.form-list .text-point {
	color: #43a051 !important;
}

.form-list .point {
	width: 86px !important;
    margin: 0 2px 0 12px;
}

.form-list .point-btn {
	width: 70px;
    min-width: 50px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    background-color: #43a051;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.form-list .total {
	position: relative;
    padding: 0 20px !important;
    border: 1px solid #43a051 !important;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.form-list .total .right {
	right: 15px;
}

.form-list .total .right .total-price {
	font-size: 24px;
    font-weight: 700;
    line-height: 0;
    vertical-align: -2px;
    color: #43a051;
}

.caution {
	padding: 24px 30px;
    margin-top: 50px;
    font-size: 13px;
    font-weight: 300;
    color: #888888;
    word-break: keep-all;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #f9f9f9;
}

.caution strong {
	display: inline-block;
    margin-bottom: 8px;
    font-weight: 400;
    color: #333333;
}

.caution ul {
	list-style: decimal;
    margin-left: 10px;
}

.caution li {
	padding: 2px 0;
}

.caution p {
	margin: 8px 0 0 0;
}

.pay-btn {
	text-align: center;
	min-height: 53px;
    margin-top: 60px;
}

.pay-btn-submit {
	border: 0px;
	background-color: #43a051;
	color: white;
	min-width: 340px;
    height: 80px;
    font-size: 20px;
    line-height: 78px;
    cursor: pointer;
    border-radius: 5px;
}

.pay-btn-back {
	border: 0px;
    background-color: #333;
	color: white;
	min-width: 340px;
    height: 80px;
    font-size: 20px;
    line-height: 78px;
    cursor: pointer;
    border-radius: 5px;
}

.pay-btn-submit:hover {
	background-color: #FFE05C;
}

.pay-btn-back:hover {
	background-color: #111;
}

/* orderinquiry.jsp */
.inquiry-list {
	border-top: 0;
}

.cancel-btn {
	background-color: #fff;
    border: 1px solid red;
    padding: 0 10px;
    color: red;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    border-radius: 17px;
    cursor: pointer;
}

.cancel-btn.refund{
	border: 1px solid #43a051;
	color: #43a051;
}

.reason{
	font-size: 10px;
}

.tip.btn{
	margin-left: 5px;
	width: 20px !important;
	height:20px !important;
	line-height: 10px;
}

.tooltip > .tooltip-inner {
	text-align: left;
	max-width: 200px;
	background-color: #fff;
	border: 2px solid #43a051;
	color: #000;
}

/* 페이징 */
.page-nation li{
	list-style: none;
}

.page-wrap{
	text-align: center;
	font-size: 0;
}
.page-nation {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.page-nation a{
	display: block;
	margin: 0 3px;
	flex: left;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	font-size: 13px;
	color: black;
	text-decoration: none;
}
.page-nation a.active{
	background-color: #43a051;
	color: #fff;
}
.page-nation a:hover{
	background-color: #43a051;
	color: #fff;
}

#refundreq{
	font-size: 13px;
	color: white;
    border-radius: 5px;
    border: 0px;
    width: 80px;
    height: 25px;
    background-color: #43a051;
}

#rejectreason{
	font-size: 11px;
	color: gray;
}

/*모달*/
#modal.modal-overlay {
	display: none;
	position: fixed;
    left: 0;
    top: 0;
	width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px);
    z-index: 1000;
} 
#modal .modal-window {
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    width: 680px;
    height: 580px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    z-index: 1000;
}
#modal .modaltitle {
    padding-left: 10px;
    display: inline;
    color: #000;
}

#modal .modaltitle h5{
	padding-left: 10px;
	font-size: 1.25rem;
	margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

#modal .close-area {
    display: inline;
    cursor: pointer;
    color: #000;
    position: relative;
    float: right;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: #000;
}

#modal .content table {
    margin-top: 20px;
    padding: 0px 10px;
    color: #000;
    border-top: 2px solid #43a051;
    width: 100%;
}

#modal .content table .center{
    text-align: center;
    width: 180px;
}

#modal .content table td{
    padding: 10px 0;
    border-bottom: 1px solid #f9f9f9;
}

.tip.btn {
	width: 30px;
	height: 30px;
    background-color: #43a051;
    border-color: #43a051;
    padding: 0;
    border-radius: 20px;
    margin-bottom: 2px;
}
