.page-header {
	text-align: center;
	padding: 0 10px;
	font-size: 28px;
	font-weight: 600;
	color: #333333;
	margin: 70px 0 16px 0;
}

.heading-explanation {
	text-align: center;
	margin-top: 10px;
}

.text-point {
	color: #43a051;
}

.panel-heading {
	text-align: right;
}

.btn_inquiry {
	font-size: 15px;
    font-weight: 500;
    border-radius: 17px;
    width: 116px;
    height: 32px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #258e75;
    color: #258e75;
    line-height: 18px;
    margin-bottom: 10px;
}

.panel-body {
	border-top: 2px solid #43a051;
}

table {
	width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
}

th, td {
	text-align: center;
}

th {
	padding: 19px 0;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    background-color: #f9f9f9;
}

td {
	padding: 28px 0 27px;
	font-size: 15px;
    font-weight: 500;
    color: #333;
    line-height: 16px;
    border-top: 1px solid #ececec;
}

tr th:nth-of-type(1) {
	width: 10%
}

tr th:nth-of-type(2) {
	width: 10%
}

tr th:nth-of-type(3) {
	width: 50%
}

tr th:nth-of-type(4) {
	width: 10%
}

tr th:nth-of-type(5) {
	width: 15%
}

/* 처리결과 색상 3가지 내용은 나중에 변경한다. [대기, 완료, 확인중] [대기중, 처리완료, 확인중] */
.word-color1 {
	color: green;
}

.word-color2 {
	color: orange;
}

.word-color3 {
	color: blue;
}

